Label {
	-fx-min-width: 150;
	-fx-max-width: 150;
	-fx-min-height: 40;
	-fx-max-height: 40;
	-fx-text-fill: RED;
	-fx-font-size: 30;
}

TextField {
	-fx-min-width: 200;
	-fx-max-width: 200;
	-fx-min-height: 40;
	-fx-max-height: 40;
}

RadioButton {
	-fx-min-width: 95;
	-fx-max-width: 95;
	-fx-min-height: 40;
	-fx-max-height: 40;
}

CheckBox, ComboBox {
	-fx-min-width: 200;
	-fx-max-width: 200;
	-fx-min-height: 40;
	-fx-max-height: 40;
}

VBox, HBox {
	-fx-spacing: 10;
	-fx-alignment: center;
}